<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjectDS"
			 connectionString="Server=WIN-2TR20CR1C3K\SQLEXPRESS;Database=ProjectDS;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
